<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuardWebApp</title>
    <link href="~/lib/Bootstrap4RTL/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">سیستم نگهبانی</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-light" asp-page="/ScanPage/Index">اسکن بارکد</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn btn-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                تعاریف
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-page="/LocationPage/Index"><i class="far fa-compass"></i>&nbsp;مکان</a>
                                <a class="dropdown-item" asp-page="/LocationDetailPage/Index"><i class="far fa-directions"></i>&nbsp;جزئیات مکان</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/RunPage/Index"><i class="far fa-play-circle"></i>&nbsp;اجرا</a>
                                <a class="dropdown-item" asp-page="/RunDetailPage/Index"><i class="far fa-reply-all"></i>&nbsp;جزئیات اجرا</a>
                                <a class="dropdown-item" asp-page="/RunStatusPage/Index"><i class="far fa-retweet"></i>&nbsp;وضعیت اجرا</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted fixedButton">
        <div class="container">
            @await RenderSectionAsync("BottomPanel", required: false)
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Bootstrap4RTL/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
