<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuardWebApp</title>
    <link href="~/lib/Bootstrap4RTL/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/sidemenu/app.css" rel="stylesheet" />
    <link href="~/lib/sidemenu/side-drawer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div id="side-drawer" class="position-fixed">
            <div class="h-100 bg-white">
                <div class="p-4 bg-warning">
                    <div class="row">
                        <div class="col-10 text-center">
                            <div>
                                <img src="~/img/profile.png" height="50" width="50" />
                                <h1 class="text-white">نام کاربری</h1>
                            </div>
                        </div>
                        <div class="col-2 text-left">
                            <i class="fa fa-angle-right fa-2x text-white" onclick="closeSideDrawer()"></i>
                        </div>
                    </div>
                </div>
                <ul id="links" class="list-group" onclick="closeSideDrawer()">
                    <li id="link-structure" class="list-group-item list-group-item-action border-0 rounded-0"><i class="fa fa-user ml-2"></i><a href="./Login">ورود / ثبت نام</a></li>
                    <li id="link-structure" class="list-group-item list-group-item-action border-0 rounded-0"><i class="fa fa-user ml-2"></i>پنل کاربری</li>
                    <li id="link-css" class="list-group-item list-group-item-action border-0 rounded-0"><i class="fa fa-shopping-basket ml-2"></i>سبد خرید</li>
                    <li id="link-javascript" class="list-group-item list-group-item-action border-0 rounded-0"><i class="fa fa-plus-circle ml-2"></i>جدیدترین محصولات</li>
                    <li id="link-customization" class="list-group-item list-group-item-action border-0 rounded-0"><i class="fa fa-headphones ml-2"></i>پشتیبانی</li>
                </ul>
            </div>
        </div>
        <div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>
        <nav class="navbar navbar-dark bg-warning fixed-top border-bottom">
            <div class="text-white-50" onclick="openSideDrawer()">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="text-white">
                <span class="oneLineForce" style="font-size:25px">فروشگاه آنلاین</span>
            </div>
            <div class="text-white-50">
                <i class="fa fa fa-shopping-basket fa-2x ml-3"></i>
                <a class="text-decoration-none text-white-50" href="#" onclick="openSearch()"><i class="fa fa-search fa-2x"></i></a>
            </div>

        </nav>
    </header>


    <div class="container">
        <div style="height:55px"></div>
        <div class="row h-100" id="searchBar">
            <div class="col-12 my-auto">
                <div class="row">
                    <input class="form-control bg-warning text-white myinput" style="width:80%" type="text" name="search" placeholder="نام محصول ..." />
                    <button class="btn btn-warning text-white border border-left" style="width:10%" type="submit" name="submit" value="جستجو"><i class="fa fa-search"></i></button>
                    <a class="btn btn-warning text-white border border-left" style="width:10%" onclick="closeSearch()" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div style="height:10px"></div>
    </div>

    <footer>
        <div class="bnavbar border-top">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <a href="./Index">
                        <i class="fa fa-home"></i>
                        <br />
                        <span class="oneLineForce">خانه</span>
                    </a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="./Category">
                        <i class="fa fa-list"></i>
                        <br />
                        <span class="oneLineForce">دسته بندی</span>
                    </a>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <a href="./ProductsList">
                        <i class="fa fa-star"></i>
                        <br />
                        <span class="oneLineForce">تخفیف ویژه</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Bootstrap4RTL/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/sidemenu/side_drawer.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        self.addEventListener('load', function () {
            $("#searchBar").hide();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
