@page
@model OnlineMarketWebApp.Pages.CategoryModel
@{
    ViewData["Title"] = "دسته بندی محصولات";
}
<div style="height:55px"></div>
<div class="row">
    <div class="col-6 p-1"><img src="/img/category/kharobar.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/behdashti.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/dastmal.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/konserv.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/labaniyat.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/poroteini.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/nooshidani.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/tanagholat.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
</div>
<div style="height:10px"></div>