@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
}
<div style="height:55px"></div>

@* اسلایدر *@
<div class="row p-1">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner my-round">
            <div class="carousel-item active" data-interval="10000">
                <img src="/img/slider/slider1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/img/slider/slider2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/slider/slider3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">قبلی</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">بعدی</span>
        </a>
    </div>
</div>

@* دسته بندی ها با باجت *@
<div class="outer">
    <h3 class="ml-3"><span class="badge badge-pill badge-warning text-white border shadow-sm"><span class="badge-text">نوشیدنی</span></span></h3>
    <h3 class="ml-3"><span class="badge badge-pill badge-warning text-white border shadow-sm"><span class="badge-text">مواد غذایی</span></span></h3>
    <h3 class="ml-3"><span class="badge badge-pill badge-warning text-white border shadow-sm"><span class="badge-text">خوار و بار</span></span></h3>
    <h3 class="ml-3"><span class="badge badge-pill badge-warning text-white border shadow-sm"><span class="badge-text">شوینده</span></span></h3>
    <h3 class="ml-3"><span class="badge badge-pill badge-warning text-white border shadow-sm"><span class="badge-text">بهداشت و زیبایی</span></span></h3>
    <h3 class="ml-3"><span class="badge badge-pill badge-warning text-white border shadow-sm"><span class="badge-text">ابزار و ملزومات</span></span></h3>
</div>


@* بنر بزرگ *@
<div class="row p-1">
    <img src="/img/banner/big-banner/banner1.webp" class="mx-auto d-block carousel-item my-round" alt="...">
</div>


@* دو بنر کنار هم *@
<div class="row">
    <div class="col-6"><img src="/img/banner/small-banner/small-banner1.jpeg" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6"><img src="/img/banner/small-banner/small-banner2.jpeg" class="mx-auto d-block carousel-item my-round" alt="..."></div>
</div>


@* کامپوننت بیشترین فروش *@
<div class="row mt-1 h-100" style="background: url('/img/component/background.png') 0% 0%, linear-gradient(-45deg, rgb(251, 75, 84), rgb(251, 75, 84));">
    <div class="col-4 align-self-center">
        <div class="row justify-content-center"><img src="/img/component/mostsell/img.webp" height="150" width="95" /></div>
        <br />
        <div class="row justify-content-center"><a class="btn btn-outline-light" href="#">مشاهده همه</a></div>
    </div>
    <div class="col-8">
        <div class="row flex-row flex-nowrap align-items-center h-100" style="overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;">
            <div class="col-8 bg-white border rounded ml-1 mr-1 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-1 mr-1 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-2 mr-2 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-2 mr-2 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-2 mr-2 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
        </div>
    </div>
</div>


@* دسته بندی ها *@
<div class="row">
    <div class="col-6 p-1"><img src="/img/category/kharobar.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/behdashti.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/dastmal.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/konserv.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/labaniyat.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/poroteini.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/nooshidani.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
    <div class="col-6 p-1"><img src="/img/category/tanagholat.webp" class="mx-auto d-block carousel-item my-round" alt="..."></div>
</div>


@* کامپوننت بیشترین تخفیف *@
<div class="row mt-2 h-100" style="background: url('/img/component/background.png') 0% 0% , linear-gradient(-45deg, rgb(75, 104, 251), rgb(75, 104, 251));">
    <div class="col-4 align-self-center">
        <div class="row justify-content-center"><span class="text-white shadow-sm font-weight-bold">تخفیف ویژه</span></div>
        <br />
        <div class="row justify-content-center"><img src="/img/component/off/off.png" height="80" width="80" /></div>
        <br />
        <div class="row justify-content-center"><a class="btn btn-outline-light" href="#">مشاهده همه</a></div>
    </div>
    <div class="col-8">
        <div class="row flex-row flex-nowrap align-items-center h-100" style="overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;">
            <div class="col-8 bg-white border rounded ml-1 mr-1 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-1 mr-1 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-2 mr-2 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-2 mr-2 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
            <div class="col-8 bg-white border rounded ml-2 mr-2 mt-3 mb-3">
                <div class="row justify-content-center mt-4"><img src="/img/product1.jpg" height="100" width="60" /></div>
                <div class="row p-2 justify-content-end"><span class="col-3 badge badge-danger">10%</span></div>
                <div class="row justify-content-center text-center"><span>چوب شور شیرین عسل - 40 گرم</span></div>
                <hr />
                <div class="row justify-content-center"><h5><del class="text-danger">10,000 ریال</del></h5></div>
                <div class="row justify-content-center"><h5><span class="text-success">9,000 ریال</span></h5></div>
            </div>
        </div>
    </div>
</div>


@* بنر *@
<div class="row p-1">
    <img src="/img/banner/big-banner/banner2.jpg" class="my-round mx-auto d-block carousel-item" alt="...">
</div>


@* بنر *@
<div class="row p-1">
    <img src="/img/banner/big-banner/banner3.jpg" class="my-round mx-auto d-block carousel-item" alt="...">
</div>

<div style="height:10px"></div>
