@page
@model OnlineMarketWebApp.Pages.LoginModel
@{
}
<div style="height:55px"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5">ورود به حساب کاربری</h5> <small class="para">نام کاربری و کلمه عبور خود را وارد کنید</small>
                </div>
                <form class="signup text-center">
                    <div class="form-group"><input type="text" class="form-control text-center" placeholder="نام کاربری"></div>
                    <div class="form-group"><input type="password" class="form-control text-center" placeholder="کلمه عبور"></div>
                    <button type="submit" class="btn btn-primary w-50">ورود</button>
                    <div class="row">
                        <div class="col-6">
                            <a href="#">
                                <p class="text-left pt-2 ml-1">فراموشی رمز عبور</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="#">
                                <p class="text-right pt-2 mr-1">ثبت نام</p>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="height:10px"></div>