@page
@model OnlineMarketWebApp.Pages.ProductsListModel
@{
    ViewData["Title"] = "لیست محصولات";
}



<div class="row mb-2">
    <div class="p-2 text-warning font-weight-bold">
        فیلتر ها :
    </div>
    <div class="col-12">
        <div class="row m-1">
            <div class="border my-round p-1 m-1">میهن</div>
            <div class="border my-round p-1 m-1">تخفیف ویژه</div>
            <div class="border my-round p-1 m-1">کالا های موجود</div>
        </div>

    </div>
</div>

<hr />

<div class="card">
    <div class="row h-100">
        <div class="col-4 my-auto">
            <img src="/img/product/product1.jpg" class="w-100 mr-3">
        </div>
        <div class="col-8 px-3">
            <div class="card-block px-3">
                <div class="row">
                    <div class="col-12"><h5 class="card-title">نام محصول</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><del class="text-secondary">50،000 ریال</del></div>
                    <div class="col-6"><h5><span class="text-success">40،000 ریال</span></h5></div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <span class="bg-danger text-white my-round p-1">10% تخفیف</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12"><a href="./Product" class="btn btn-block btn-primary"><i class="fa fa-shopping-basket ml-1"></i>خرید</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row h-100">
        <div class="col-4 my-auto">
            <img src="/img/product/product1.jpg" class="w-100 mr-3">
        </div>
        <div class="col-8 px-3">
            <div class="card-block px-3">
                <div class="row">
                    <div class="col-12"><h5 class="card-title">نام محصول</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><del class="text-secondary">50،000 ریال</del></div>
                    <div class="col-6"><h5><span class="text-success">40،000 ریال</span></h5></div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <span class="bg-danger text-white my-round p-1">10% تخفیف</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12"><a href="./Product" class="btn btn-block btn-primary"><i class="fa fa-shopping-basket ml-1"></i>خرید</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row h-100">
        <div class="col-4 my-auto">
            <img src="/img/product/product1.jpg" class="w-100 mr-3">
        </div>
        <div class="col-8 px-3">
            <div class="card-block px-3">
                <div class="row">
                    <div class="col-12"><h5 class="card-title">نام محصول</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><del class="text-secondary">50،000 ریال</del></div>
                    <div class="col-6"><h5><span class="text-success">40،000 ریال</span></h5></div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <span class="bg-danger text-white my-round p-1">10% تخفیف</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12"><a href="./Product" class="btn btn-block btn-primary"><i class="fa fa-shopping-basket ml-1"></i>خرید</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row h-100">
        <div class="col-4 my-auto">
            <img src="/img/product/product1.jpg" class="w-100 mr-3">
        </div>
        <div class="col-8 px-3">
            <div class="card-block px-3">
                <div class="row">
                    <div class="col-12"><h5 class="card-title">نام محصول</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><del class="text-secondary">50،000 ریال</del></div>
                    <div class="col-6"><h5><span class="text-success">40،000 ریال</span></h5></div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <span class="bg-danger text-white my-round p-1">10% تخفیف</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12"><a href="./Product" class="btn btn-block btn-primary"><i class="fa fa-shopping-basket ml-1"></i>خرید</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="row h-100">
        <div class="col-4 my-auto">
            <img src="/img/product/product1.jpg" class="w-100 mr-3">
        </div>
        <div class="col-8 px-3">
            <div class="card-block px-3">
                <div class="row">
                    <div class="col-12"><h5 class="card-title">نام محصول</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><del class="text-secondary">50،000 ریال</del></div>
                    <div class="col-6"><h5><span class="text-success">40،000 ریال</span></h5></div>
                </div>
                <div class="row mt-1">
                    <div class="col-6">
                        <span class="bg-danger text-white my-round p-1">10% تخفیف</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12"><a href="./Product" class="btn btn-block btn-primary"><i class="fa fa-shopping-basket ml-1"></i>خرید</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

