@page
@model OnlineMarketWebApp.Pages.SplashModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <title>فروشگاه آنلاین</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/Bootstrap4RTL/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/css/splash.css" rel="stylesheet" />
</head>
<body dir="rtl" class="splash-body border1">
    <div class="container h-100">
        <div class="row justify-content-center">
            <img class="img-fluid logo-image" src="~/img/logo.png" />
        </div>
        <div class="row justify-content-center">
            <h1>فروشگاه آنلاین</h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="eng">Online Market</h2>
        </div>
        <div class="row justify-content-center">
            <img class="img-fluid loading-image" src="~/img/loading.gif" />
        </div>
        <div class="row justify-content-center pb-3 fixed-bottom">
            <h4 class="version-text">نسخه 1.0.0</h4>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Bootstrap4RTL/dist/js/bootstrap.js"></script>

</body>
</html>