@page
@model OnlineMarketWebApp.Pages.SplashModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <title>فروشگاه آنلاین</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/Bootstrap4RTL/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <style>
        @@font-face {
            font-family: 'Yekan';
            src: url('/font/Yekan.woff') format('woff');
            font-display: swap
        }

        @@font-face {
            font-family: 'Yellowtail-Regular';
            src: url('/font/Yellowtail-Regular.ttf') format('truetype');
        }

        * {
            font-family: Yekan
        }

        .eng {
            font-family: Yellowtail-Regular
        }

        .splash-body {
            background: url(/img/splash-background.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .border1 {
            position: fixed;
            top: 0;
            left: 0;
            border: 4px solid #d1d1d1;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

            .border1:after {
                background: linear-gradient(to right, #bcbcbc 25%, #ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
                position: absolute;
                content: '';
                height: 4px;
                right: 0;
                left: 0;
                bottom: 0;
            }

        .logo-image {
            width: 250px;
            height: 250px;
        }

        .loading-image {
            width: 75px;
            height: 75px;
        }

        .version-text {
            color: #65c1ac;
        }
    </style>
</head>
<body dir="rtl" class="splash-body border1">
    <div class="container h-100">
        <div class="row justify-content-center">
            <img class="img-fluid logo-image" src="~/img/logo.png" />
        </div>
        <div class="row justify-content-center">
            <h1>فروشگاه آنلاین</h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="eng">Online Market</h2>
        </div>
        <div class="row justify-content-center">
            <img class="img-fluid loading-image" src="~/img/loading.gif" />
        </div>
        <div class="row justify-content-center pb-3 fixed-bottom">
            <h4 class="version-text">نسخه 1.0.0</h4>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Bootstrap4RTL/dist/js/bootstrap.js"></script>

</body>
</html>